.team_middle-orbit {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 160px;
  right: 160px;
  top: 160px;
  bottom: 160px;
  margin: auto;
  display: flex;
}

.team-outer-orbit {
  position: absolute;
  width: 550px;
  height: 550px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.avatar-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 10px;
  top: 50px;
}

.avatar-2 {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  left: 10px;
  top: 430px;
}

.avatar-3 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 270px;
  top: 455px;
}

.avatar-4 {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  left: 360px;
  top: -20px;
}

.avatar-5 {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  left: 515px;
  top: 340px;
}

.avatar-6 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 420px;
  top: 165px;
  box-shadow: 40px 40px 40px -22px #000000;
}

.profile-describtion {
  position: absolute;
  left: 525px;
  top: 185px;
  width: 340px;
  height: 50px;
}

.profile-name {
  color: #fff;
  position: absolute;
  left: 0;
  letter-spacing: 5px;
  font-size: 11px;
}

.profile-position {
  position: absolute;
  left: 0;
  top: 20px;
  color: rgb(214, 214, 214);
  letter-spacing: 4px;
  font-size: 10px;
}

.middle_orbit_team {
  align-self: center;
  color: #fff;
  font-size: 18px;
  position: absolute;
  letter-spacing: 5px;
  left: 0;
  right: 0;
}

.middle_orbit_scroll {
  align-self: center;
  color: #fff;
  font-size: 8px;
  position: absolute;
  top: 58%;
  left: 0;
  right: 0;
  letter-spacing: 4px;
}

.team-outer-orbit-fake {
  position: absolute;
  width: 818px;
  height: 810px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.team-outer-orbit-fake-2 {
  position: absolute;
  width: 550px;
  height: 550px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.team-outer-orbit-fake-3 {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
