.circle-orbit-container {
  position: relative;
  width: 100%;
  height: 100%;
  align-self: center;
}

.inner-orbit {
  position: absolute;
  width: 270px;
  height: 270px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 270px;
  right: 270px;
  top: 270px;
  bottom: 270px;
  margin: auto;
  display: flex;
}

.middle-orbit {
  position: absolute;
  width: 490px;
  height: 490px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 160px;
  right: 160px;
  top: 160px;
  bottom: 160px;
  margin: auto;
  display: flex;
}

.outer-orbit {
  position: absolute;
  width: 550px;
  height: 550px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.planet_ui {
  position: absolute;
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #a7bac6;
  border-radius: 50%;
  left: 20px;
  top: 84px;
  transition: 5000ms ease-in;
}

.planet_product {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #65aaef;
  border-radius: 50%;
  left: 229px;
  top: -30px;
}

.planet_ux {
  position: absolute;
  display: flex;
  width: 75px;
  height: 75px;
  background-color: #f3b3c9;
  border-radius: 50%;
  left: 410px;
  top: 100px;
}

.planet_responsive {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #a7bac6;
  border-radius: 50%;
  left: 470px;
  top: 330px;
}

.planet_web {
  position: absolute;
  display: flex;
  width: 75px;
  height: 75px;
  background-color: #f3b3c9;
  border-radius: 50%;
  left: 283px;
  top: 490px;
}

.planet_mobile_app {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #65aaef;
  border-radius: 50%;
  left: -20px;
  top: 364px;
}

.middle_planet {
  color: #fff;
  font-size: 15px;
  align-self: center;
  margin: 0 auto;
}

.orbit_question {
  align-self: center;
  color: #fff;
  font-size: 18px;
  position: absolute;
  letter-spacing: 5px;
  left: 0;
  right: 0;
}

.orbit_scroll {
  align-self: center;
  color: #fff;
  font-size: 8px;
  position: absolute;
  top: 59%;
  left: 0;
  right: 0;
  letter-spacing: 4px;
}

.outer-orbit-fake {
  position: absolute;
  width: 550px;
  height: 550px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.outer-orbit-fake-2 {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid #484949;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
