.circle-orbit-container {
  position: relative;
  width: 100%;
  height: 100%;
  align-self: center;
}

.random_planet1 {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #65aaef;
  left: 15px;
  top: 8px;
}

.random_planet2 {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #f3b3c9;
  left: -205px;
  top: 228px;
}

.random_planet3 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #6e7070;
  left: -55px;
  top: 285px;
}

.random_planet4 {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b1b4b4;
  left: -100px;
  top: 500px;
}

.random_planet5 {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #f3b3c9;
  left: 85px;
  top: 250px;
}

.random_planet6 {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid #cdcfcf;
  left: 205px;
  top: 123px;
}

.random_planet7 {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid #8f8f8f;
  left: 200px;
  top: 423px;
}

.random_planet8 {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  border: 1px solid #6e7070;
  left: 180px;
  top: 530px;
}

/* .random_planet9 {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #8f8f8f;
  left: 620px;
  top: 82px;
} */

.random_planet10 {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  border: 1px solid #65aaef;
  left: 522px;
  top: 238px;
}

.random_planet11 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #6e7070;
  left: 510px;
  top: 270px;
}

.random_planet12 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #484949;
  left: 390px;
  top: 435px;
}

.random_planet13 {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #65aaef;
  left: 508px;
  top: 525px;
}

.random_planet14 {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #65aaef;
  left: 680px;
  top: 252px;
}

.random_planet15 {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #858585;
  left: 635px;
  top: 135px;
}

.random_planet16 {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #f3b3c9;
  left: 690px;
  top: 425px;
}

.random_planet17 {
  position: absolute;
  display: flex;
  width: 17px;
  height: 17px;
  background-color: #f3b3c9;
  border-radius: 50%;
  left: 720px;
  top: 15px;
}
